NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_replace_me
STRIPE_SECRET_KEY=sk_live_replace_me
ADMIN_PASSWORD=replace_me
ADMIN_TOKEN=replace_me_with_random_secret
SALES_PASSWORD=Hemsida123
SALES_TOKEN=replace_me_with_another_random_secret
